<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>BeLL Messenger Manager</title>
  <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen" />
  <link href="vendor/bootstrap/css/bootstrap-theme.min.css" rel="stylesheet" media="screen" />
  <link href="app/app.css" rel="stylesheet" />

  <!--
    DEPENDENCIES
  -->

  <script src="vendor/jquery-1.7.2.js"></script>
  <script src="vendor/underscore-1.4.4.js"></script>
  <script src="vendor/backbone-1.0.0.js"></script>
  <script src="vendor/backbone-forms.js"></script>
  <script src="vendor/list.js"></script>
  <script src="vendor/jquery-ui-1.10.2.custom/js/jquery-ui-1.10.2.custom.js"></script>
  <script src="vendor/sha1.js"></script>
  <script src="vendor/jquery.couch.js"></script>
  <script src="vendor/backbone.couchdb.js"></script>
  <script src="vendor/html-encode.js"></script>
  <script src="vendor/jquery.url.js"></script>
  <script src="vendor/moment.min.js"></script>
  <script src="vendor/moment-timezone.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.min.js"></script>
  <script src="vendor/spin.min.js"></script>
  <script src="vendor/jquery.spin.js"></script>

  <!--
    App
  -->

  <script src="app/App.js"></script>
  <script src="app/Router.js"></script>

  <script src="app/models/Database.js"></script>
  <script src="app/models/Device.js"></script>
  <script src="app/models/User.js"></script>

  <script src="app/collections/Databases.js"></script>
  <script src="app/collections/Devices.js"></script>

  <script src="app/views/DeviceForm.js"></script>
  <script src="app/views/DatabaseForm.js"></script>
  <script src="app/views/DevicesTable.js"></script>
  <script src="app/views/DeviceRow.js"></script>
  <script src="app/views/DatabasesTable.js"></script>
  <script src="app/views/DatabaseRow.js"></script>
  <script src="app/views/LoginForm.js"></script>

  
</head>

<body>

</body>


  <!-- 
    Templates 
  -->


  <script type="text/template" id="template-app">
    <div class="page-header">
      <h3>BeLL Messenger Manager</h3>
    </div>

    <ul class="nav nav-tabs">
      <li><a href="#devices" class='devices active'>Devices</a></li>
      <li><a href="#databases" class='databases'>Databases</a></li>
    </ul>


    <!-- Body -->
    <div class="container body">
      <!-- Content -->
    </div>
     
  </script>

  <script type="text/template" id="template-DatabasesTable">
    <h1>Databases</h1> 
    <a href='#database' class='btn btn-primary btn-lg active' role='button'>+ new database</a>
    <table class='table'>
      <thead>
        <tr>
          <th>name</th>
          <th></th>
          <th>Number of Documents</th>
          <th>Size on disk</th>
          <th>Status</th>
        </tr>
      </thead>
      <tbody>

      </tbody>
    </table>
  </script>

  <script type="text/template" id="template-DatabaseRow">
    <td><%= name %></td>
    <td><button class="btn" id="delete">delete</button></td>
    <td><%= doc_count %></td>
    <td><%= disk_size %></td>
    <td><%= status %></td>
  </script>

  <script type="text/template" id="template-DevicesTable">
    <h1>Devices</h1> 
    <a href='#device' class='btn btn-primary btn-lg active' role='button'>+ new device</a>
    <table class='table'>
      <thead>
        <tr>
          <th>label</th>
          <th>url</th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>

      </tbody>
    </table>
  </script>

  <script type="text/template" id="template-DeviceRow">
    <td><%= label %></td>
    <td><%= url %></td>
    <td><a href='#device/<%= _id %>' class='btn btn-primary btn-lg active' role='button'>edit</a></td>
    <td><a href='#sync/<%= _id %>' class='btn btn-primary btn-lg active' role='button'>sync</a></td>
  </script>
  
  <script type="text/template" id="template-DeviceForm">

  </script>



  <!-- 
    START THE APP
  -->

  <script>
    $(document).ready(function() {
      App.start()
    })
  </script>

</html>
