<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>BeLL Messenger Manager</title>
  <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen" />
  <link href="vendor/backbone-forms-bootstrap.css" rel="stylesheet" media="screen" />
  <link href="vendor/morris.css" rel="stylesheet" media="screen" />
  <link href="vendor/jquery-ui-1.10.2.custom/css/ui-lightness/jquery-ui-1.10.2.custom.css" rel="stylesheet" media="screen" />
  <link href="app/app.css" rel="stylesheet" />

  <!--
    DEPENDENCIES
  -->

  <script src="vendor/jquery-1.7.2.js"></script>
  <script src="vendor/underscore-1.4.4.js"></script>
  <script src="vendor/backbone-1.0.0.js"></script>
  <script src="vendor/backbone-forms.js"></script>
  <script src="vendor/list.js"></script>
  <script src="vendor/jquery-ui-1.10.2.custom/js/jquery-ui-1.10.2.custom.js"></script>
  <script src="vendor/sha1.js"></script>
  <script src="vendor/jquery.couch.js"></script>
  <script src="vendor/backbone.couchdb.js"></script>
  <script src="vendor/html-encode.js"></script>
  <script src="vendor/jquery.url.js"></script>
  <script src="vendor/moment.min.js"></script>
  <script src="vendor/moment-timezone.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.min.js"></script>
  <script src="vendor/spin.min.js"></script>
  <script src="vendor/jquery.spin.js"></script>

  <!--
    App
  -->

  <script src="app/App.js"></script>
  <script src="app/Router.js"></script>

  <script src="app/models/Database.js"></script>
  <script src="app/models/Device.js"></script>
  <script src="app/models/User.js"></script>

  <script src="app/collections/Databases.js"></script>
  <script src="app/collections/Devices.js"></script>

  <script src="app/views/DeviceForm.js"></script>
  <script src="app/views/DevicesTable.js"></script>
  <script src="app/views/DeviceRow.js"></script>
  <script src="app/views/DatabasesTable.js"></script>
  <script src="app/views/DatabaseRow.js"></script>
  <script src="app/views/LoginForm.js"></script>

  
</head>

<body>


</body>


  <!-- 
    Templates 
  -->


  <script type="text/template" id="template-app">

    <!-- Body -->
    <div class="container body">
      <!-- Content -->
    </div>
     
  </script>

  <script type="text/template" id="template-DatabasesTable">
    <th><h1>Databases syncing...</h1></th>
  </script>


  <script type="text/template" id="template-DatabaseRow">
    <td><%= name %></td>
    <td><%= status %></td>
  </script>

  <script type="text/template" id="template-DevicesTable">
    <th> <h1>Devices</h1> <a href='#device' role='button'>+ new device</a></th>
  </script>

  <script type="text/template" id="template-DeviceRow">
    <td><%= label %></td>
    <td><%= url %></td>
    <td><a href='#device/<%= _id %>' class='button'>edit</a></td>
    <td><a href='#sync/<%= _id %>' class='button'>sync</a></td>
  </script>
  
  <script type="text/template" id="template-DeviceForm">

  </script>



  <!-- 
    START THE APP
  -->

  <script>
    $(document).ready(function() {
      App.start()
    })
  </script>

</html>
